body{
    background-color: white;
    color: black;
    font-size: 20px;
    margin: 10%;
}
h1{
    font-size: 40px;
    color: darkslateblue;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 15px;
}
input[type=text], select {
    width: 100%;
    font-size: 15px;
    padding: 20px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid darkslateblue;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: mediumslateblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
  }
  
  input[type=submit]:hover {
    background-color:mediumpurple;
    font-weight: bold;
  }
  
  .content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
